# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/

# C extensions
*.so

# Distribution / packaging
.Python
build/

*.log

# Environments
venv
.env

# VS Code
.vscode/
.settings.json
